.featured{
    margin-top: 30px;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
}

.featuredItemTotal{
    flex: 1;
    margin: 0px 7px;
    padding: 20px;
    border-radius: 17px;
    background-color: #44597D;
}

.featuredItemScore{
    flex: 1;
    margin: 0px 7px;
    padding: 20px;
    border-radius: 17px;
    background-color: #A0C0D7;
}

.featuredItemRetention{
    flex: 1;
    margin: 0px 7px;
    padding: 20px;
    border-radius: 17px;
    background-color: #DE7456;
}

.featuredTitle{
    font-size: 20px;
    display: flex;
    color: #fff;
    margin-top: auto;
}

.featureClientContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredClient{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.featuredClientRate{
    display: flex;
    margin-left: 150px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #EDF7EE;
}

.featuredScoreRate{
    display: flex;
    align-items: center;
    margin-left: 150px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #FEECEB;
}

.featuredRetentionRate{
    display: flex;
    align-items: center;
    margin-left: 150px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #EDF7EE;
}

.rateNegative{
    font-size: 20px;
    margin-left: 5px;
    color: #B2322A;
}

.rate{
    font-size: 20px;
    margin-left: 5px;
    color: #037E09;
}