.topbar{
    width: 30%;
    height: 100%;
    background-color: #2B3240;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    padding-left: 100px;
    line-break: auto;
}

.manager{
    font-size: 15px;
    color: #fff;
    line-break: auto;
}
.topAvatar{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin: 2px 0 0 2px;
    box-shadow: 0 0 0 2px #fff;
}

