.sidebar{
    width: 400px;
    height: 1000px;
    background-color: #2B3240;
    position: sticky;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.sidebarWrapper{
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 21%;
    justify-content: space-between;
}

.iconName{
    font-size: 19px;
    margin-left: 5px;
    color: #fff;

}

.sidebarListItem{
    padding-left: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
    margin: 1px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: #0189FF;
    border-radius: 5px;
}

.profile{
    width: 27%;
    height: 11%;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff;
    position: absolute;
}
.photo{
    display: flex;
    padding-left: 8%;
    padding-top: 15%;

}


.name{
    color: #fff;
    padding-left: 125px;
    font-size: 170%;
    font-weight: 200%;
}

.manager{
    color: #fff;
    font-size: 60%;
    font-weight: lighter;
}

